
html
	head
		title Religious Buildings Amsterdam
		link(rel="stylesheet", href="/style.css" type="text/css")
		
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		block header 
			header
				h1 Religious buildings Amsterdam

		main 
			block content
				p Here should be content

		//- block footer
			footer This is the footer