
html
	head
		title Religious Buildings Amsterdam
		//- link(rel="stylesheet", href="/style.css" type="text/css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="manifest", href="/manifest.json")
	body
		p.offline.hidden You are offline
			

		block header
			header
				h1 Religious buildings Amsterdam

		block content
			p Here should be content

		//- block footer
			footer This is the footer
		
		script(src="/bundle.js" async="true" defer="true")
		script.
			if ('serviceWorker' in navigator) {
				navigator.serviceWorker.register('/serviceWorker.js')
				//- navigator.serviceWorker.register('../serviceWorker.js')
					.then(function(registration) {
						console.log('You got your shit together mate!', registration)
					}).catch(function(err) {
						console.log('Failed to register service worker')
					});
			} else {
				console.log('No support for service workers omg')
			}
			
				
