html {
	font-size: 1em;
	font-family: sans-serif;
	/* background-color: red; */
}

html {
	background-color: rgb(250, 250, 250);
}

body {
	min-width: 5em;
	max-width: 40em;
	margin: 3em 1em;
}

main {
	margin-top: 2em;
	background-color: #fff;
	padding: 1em 1.5em;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media all and (min-width: 42em) {
	body {
		margin: 3em auto;
	}
}

a,
a:visited,
a:focus {
	color: #3f3f3f;
	text-decoration: none;

}

.building {
	display: block;
	font-size: 1.6em;
	padding: 1em 1.5em;
	transition: box-shadow .3s ease-in;
}

.building:hover,
.building:focus {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}